GF_SECURITY_ADMIN_PASSWORD=admin123
ZO_ROOT_USER_EMAIL=root@example.com
ZO_ROOT_USER_PASSWORD=Complexpass#123
OPENOBSERVE_BEARER_TOKEN=Basic 1235667
OPENOBSERVE_REMOTE_USER=root@example.com
OPENOBSERVE_REMOTE_KEY=123